@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-link {
        @apply p-2 relative text-black before:absolute before:h-[1px] before:bg-black before:w-0 before:left-1/2 before:bottom-0 before:hover:w-full before:hover:left-0 before:duration-300;
    }
    .hover-effect{
        @apply hover:text-white hover:bg-blue-600
    }
}

.men-women-section-single-item {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 1s;
}
.men-women-section-single-item:hover {
    transform: scale(1.05);

}
