@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-link {
        @apply p-2 relative text-black before:absolute before:h-[1px] before:bg-black before:w-0 before:left-1/2 before:bottom-0 before:hover:w-full before:hover:left-0 before:duration-300;
    }
    .hover-effect{
        @apply hover:text-white hover:bg-blue-600
    }
}
.container{
    @apply max-w-7xl mx-auto lg:px-0 px-4
}
.row{
    @apply lg:flex items-center
}
.men-women-section-single-item {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 1s;
}
.men-women-section-single-item:hover {
    transform: scale(1.05);
}
.ant-rate-star-full{
    color: rgba(255, 102, 0, 0.938) !important;
}
.ant-rate-star-zero{
    color: #000 !important;
}


/* loader */
.loader-wraper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(255 255 255 / 62%);
    z-index: 9999;
}

.spinner {
    width: 56px;
    height: 56px;
    display: grid;
    border: 4px solid #0000;
    border-radius: 50%;
    border-right-color: #004cff;
    animation: spinner-a4dj62 1s infinite linear;
}

.spinner::before,
.spinner::after {
    content: "";
    grid-area: 1/1;
    margin: 2px;
    border: inherit;
    border-radius: 50%;
    animation: spinner-a4dj62 2s infinite;
}

.spinner::after {
    margin: 8px;
    animation-duration: 3s;
}

@keyframes spinner-a4dj62 {
    100% {
        transform: rotate(1turn);
    }
}

